@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

:root {
    --color1: #93B5C6;
    --color2: #C9CCD5;
    --color3: #E4D8DC;
    --color4: #FFE3E3;
}

body {
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 230px auto;
}


/* HEADER */

.header {
    height: 60px;
    width: 100%;
    background-color: var(--color1);
    display: flex;
    align-items: center;
    grid-column: 1 / 3;
}

.header-text {
    margin-left: 25px;
    font-size: 30px;
    font-weight: bold;
    font-family: "Roboto";
    color: white;
}


/* SIDEBAR */

.sidebar {
    border-right: 1px solid rgba(71, 71, 71, 0.507);
    width: 230px;
    height: clamp(100vh, 100%, 100%);
    background-color: hsl(225, 13%, 81%);
    grid-column: 1 / 2;
    font-family: "Roboto";
}

.sidebar-project {
    display: flex;
    align-items: center;
    width: 90%;
}

.delete-project-button {
    background-color: hsl(225, 13%, 81%);
    border: 1px solid transparent;
    border-radius: 5px;
    width: 25px;
    height: 25px;
}

.sidebar-button {
    width: 90%;
    display: flex;
    align-items: center;
    background-color: hsl(225, 13%, 81%);
    gap: 10px;
    font-size: 13px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.sidebar-button:hover, .delete-project-button:hover {
    background-color: hsl(225, 13%, 71%);
}

.sidebar-button:active, .delete-project-button:active {
    background-color: hsl(225, 13%, 61%);
}

.sidebar-1 {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar-2, .sidebar-project-create {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar-text-big {
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 12px;
    margin-top: 16px;
    font-size: 30px;
    font-weight: 700;
    border-top: 1px solid rgba(71, 71, 71, 0.507);
}

#project-add {
    font-size: 16px;
    font-weight: 600;
}

#project {
    padding-left: 15px;
}


/* MAIN WINDOW */

.main {
    width: 100%;
    grid-column: 2 / 3;
}

.main-header {
    padding-left: 40px;
    display: flex;
    align-items: center;
}

#project-title {
    font-family: "Roboto";
    font-size: 34px;
    font-weight: 800;
}

#task-button{
    margin-left: 40px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
}

#task-button:hover {
    background-color: hsl(340, 18%, 77%);
}

#task-button:active {
    background-color: hsl(340, 18%, 67%);
}

#main-tasks {
    margin-left: 30px;
}

.task-container {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 90%;
}

.task {
    width: 90%;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-size: 14px;
    border: 1px solid transparent;
    border-bottom: 1px solid #E4D8DC;
    border-radius: 5px;
}

.task:hover, .delete-task-button:hover {
    background-color: hsl(0, 100%, 95%);
}

.task:active, .delete-task-button:active {
    background-color: hsl(0, 100%, 85%);
}

.task-left {
    display: flex;
    gap: 8px;
}

.date {    
    font-style: italic;
}

.delete-task-button {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 25px;
    height: 25px;
}


/* Modal popup window to introduce info */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
.form-container {
    max-width: 300px;
    width: 80%;
    padding: 10px;
    background-color: white;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
}

.form-container input {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input:focus{
    background-color: #ddd;
    outline: none;
}

.form-buttons {
    display: flex;
    margin-top: 20px;
}

.form-buttons button {
    padding: 16px 20px;
    background-color: #04AA6D;
    color: white;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    width: 150px;
    opacity: 0.8;
}

.form-buttons button:hover {
    opacity: 1;
}

.form-buttons .cancel-button {
    background-color: red;
}

.remove-button {
    width: 120px;
    margin-left: 10px;
    background-color: red;
    border-radius: 5px;
}


ul {
    list-style-type: none;
}